scrape_configs:
  - job_name: "{{ promjob.job_name }}"
    metrics_path: /probe
    params:
      module: [http_2xx]  # Look for a HTTP 200 response.
    {% if promjob.file_sd_configs | mandatory("Key 'file_sd_configs' must be defined") %}
    file_sd_configs:
      - files:
        {% for file in promjob.file_sd_configs.files | mandatory("Key 'files' must be defined")  %}
          - {{ file }}
        {% endfor %}
        {% if promjob.file_sd_configs.refresh_interval is defined %}
        refresh_interval: {{ promjob.file_sd_configs.refresh_interval }}
        {% else %}
        refresh_interval: 120s
        {% endif %}
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: 172.18.0.5:9115  # The blackbox exporter's real hostname:port.
    {% endif %}
