scrape_configs:
  - job_name: "grafana"
    {% if grafana.scrape_interval -%}
    # Override the global default and scrape targets from this job every {{ grafana.scrape_interval }} seconds.
    scrape_interval: {{ grafana.scrape_interval }}
    {% endif -%}
    {% if grafana.scheme == 'https' and grafana.server_name -%}
    scheme: {{ grafana.scheme }}
    tls_config:
      cert_file: /etc/prometheus/certs/tls.crt
      key_file: /etc/prometheus/certs/tls.key
      insecure_skip_verify: false
      server_name: {{ grafana.server_name }}
    {% else -%}
    scheme: http
    {% endif -%}
    {% if grafana.scrape_timeout -%}
    scrape_timeout: {{ grafana.scrape_timeout }}
    {% endif -%}
    {% if grafana.basic_auth -%}
    basic_auth:
      username: {{ grafana.basic_auth.username }}
      {% if grafana.basic_auth.password_file -%}
      password_file: {{ grafana.basic_auth.password_file }}
      {% else -%}
      password: {{ grafana.basic_auth.password }}
      {% endif -%}
    {% endif -%}

    {% if grafana.static_configs +%}
    static_configs:
      - targets:
        {%- for target in grafana.static_configs.targets +%}
          - {{ target }}
        {%- endfor +%}
        labels:
        {%- for label in grafana.static_configs.labels +%}
          {{ label }}: {{ grafana.static_configs.labels[label] }}
        {%- endfor +%}
    {% endif %}