
[defaults]
# verbosity = 1
# Show task names and whether they changed
display_skipped_hosts = False
display_ok_hosts = True
display_failed_stderr = True

host_key_checking = False
interpreter_python = auto_silent
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible_facts
fact_caching_timeout = 3600
fact_caching_per_host = True
retry_files_enabled = False
remote_tmp = /tmp/.ansible/
roles_path = ./roles:~/.ansible/roles:/usr/share/ansible/roles
vars_plugins_enabled = host_group_vars
vars_plugins = ./vars_plugins:~/.ansible/plugins/vars_plugins:/usr/share/ansible/plugins/vars_plugins
filter_plugins = ./plugins/filter:/plugins/filter:/usr/share/ansible/plugins/filter
playbook_vars_root = all
playbook_dir = playbooks

stdout_callback = default
callback_result_format = json
callback_format_pretty = True
bin_ansible_callbacks = True
check_mode_markers = True
show_custom_stats = True
show_task_path_on_failure = True
# hash_behaviour = merge

[vars_host_group_vars]
stage = inventory

[inventory]
cache_plugin = jsonfile
